@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/css.css" rel="stylesheet" type="text/css" />

<div class="jumbotron">
    <h1>Informatik Örebro Universitet</h1>
   
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>


<div id="vägg">
   
    <div id="f">
        Forskning<br />
        <input type="text" name="WallPost" id="WallPost">
        <button id="buttons">Posta på väggen!</button>


        <div>
            @*<script>
                $(document).ready(function () {
                    $("#buttons").click(function () {

                        //Meddelandet, profilägarens användarnamn och POST API-länken sparas i variabler.
                        var thatmessage = $("#WallPost").val();

                        var username = '@Model.AnvNamn';
                        thatmessage += " Från: " + '@User.Identity.Name';
                        var route = 'api/Wall/PostWall?reciever=' + username + '&text=' + thatmessage;

                        //jQuery ajax metoden anropas med TYP och URL
                        $.ajax({
                            type: "POST",
                            url: route,
                            success: function () { location.reload() },
                            error: function () { alert("Ops! Nu gick det inte som det ska"); }
                        })

                    });
                });
                    </script>



                </div>*@


            <div class="Wall">
                
                <div id="Posts">
                    <ul id="List"></ul>
                </div>
                <div id="WallPost">




                    <div id="WallPost">



                        @*<script>
                            $(document).ready(function () {

                                var username = '@Model.AnvNamn';
                                var route = 'api/Wall/GetPostMessages?UserName=' + username;
                                debugger;
                                $.ajax({
                                    type: "GET",
                                    url: route,
                                    success: function (data) {


                                        $(data).each(function () {


                                            var li = $('<li/> <br/>');
                                            var text = this;

                                            $("#List").append($(li).append(text));

                                        })

                                    },
                                    error: function () { alert("Ops! Nu gick det inte som det skas"); }
                                })
                            });
                                </script>*@

                    </div>
                </div>
            </div>
        </div>

    </div>
    
    
</div>
<div id="u"> Utbildning</div>
<div id="s"> Socialt</div>
    

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@
